<div class="main-content">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Anime Poster Uploaded</h4>
        </div>
        <div class="card-body">
            <img [src]="imgURL" height="200" *ngIf="imgURL" alt="Anime Poster" class="center">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dataResults"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Category Results</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 1 minute ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
