<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.cloudify.com/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.cloudify.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by the
            <a href="https://www.cloudify.com" target="_blank">Cloudify Team</a> for a better web.
        </div>
    </div>
</footer>
