<router-outlet></router-outlet>
<div class="main-content" *ngIf="!this.router.url.endsWith('results')">
    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
                <i class="material-icons">image</i>
            </div>
            <h4 class="card-title">Upload an anime poster there !</h4>
        </div>
        <div class="card-body" style="text-align:center">
            <form>
                <div class="mat-form-field">
                <input (change)="preview(fileImage.files)" class="btn btn-primary btn-lg" type="file" #fileImage aria-describedby="inputGroupFileAddon01">Upload a poster to test
                </div>
                <div class="mat-form-field">
                    <input class="btn btn-primary btn-lg" type="file" #fileModel aria-describedby="inputGroupFileAddon01">Choose a model (.keras)
                </div>
            </form>
            <button *ngIf="fileImage.files.length > 0" mat-raised-button class="btn btn-primary btn-lg" (click)="upload(fileImage.files, fileModel.files)">Test !</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Anime Poster Uploaded</h4>
        </div>
        <div class="card-body">
            <img [src]="imgURL" height="200" *ngIf="imgURL" alt="Anime Poster" class="center">
        </div>
    </div>
</div>
