<div class="main-content">
    <h1>Choose a model to train !</h1>
    <a routerLink="../linear-model">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Linear Model</h4>
                <p class="card-category">Click here to choose this model</p>
            </div>
            <div class="card-body">
                The idea of linear regression is simply finding a line that best fits the data. Extensions of linear regression include multiple linear regression (eg. finding a plane of best fit) and polynomial regression (eg. finding a curve of best fit).
            </div>
        </div>
    </a>
    <a routerLink="../neural-network-model">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Neural Network Model</h4>
                <p class="card-category">Click here to choose this model</p>
            </div>
            <div class="card-body">
                A neural network is a multi-layered model inspired by the human brain. Like the neurons in our brain, the circles above represent a node. The blue circles represent the input layer, the black circles represent the hidden layers, and the green circles represent the output layer.        </div>
        </div>
    </a>
    <a routerLink="../convolutional-neural-network">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">Convolutional Neural Network</h4>
                <p class="card-category">Click here to choose this model</p>
            </div>
            <div class="card-body">
                In neural networks, Convolutional neural network (ConvNets or CNNs) is one of the main categories to do images recognition, images classifications. Objects detections, recognition faces etc., are some of the areas where CNNs are widely used.
            </div>
        </div>
    </a>
    <a routerLink="../residualneural-network">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Residual Neural Network</h4>
                <p class="card-category">Click here to choose this model</p>
            </div>
            <div class="card-body">
                Residual neural networks or commonly known as ResNets are the type of neural network that applies identity mapping. What this means is that the input to some layer is passed directly or as a shortcut to some other layer.
            </div>
        </div>
    </a>
</div>

